<?xml version="1.0">


<!-- Launch file to start msurobosub modules -->
<!-- Example launch files can be seen at github.com/bluerobotics/bluerov-ros-pkg/ -->

<launch>
	<!-- This node relays info to/from arduino -->
	<node respawn="true" pkg="rosserial_python" type="serial_node.py" name="ArduinoSerialRelay">
		<param name="port" value="/dev/ttyACM1"/>
		<param name="baud" value="115200"/>
	</node>

	<!-- This node makes a state estimate for the robot given IMU data -->
	<!-- wiki.ros.org/robot_localization -->
	<node respawn="true" pkg=robot_localization" type="ekf_localization_node" name="ekf_localization_node">
		<param name="frequency" value="100"/> 			<!-- Number of state estimations per second -->
		<param name="sensor_timeout" value="1"/>		<!-- Seconds to wait before making state estimation without reading -->
		<param name="imu0 value="msurobosub/imu"/> 		<!-- Topic name for IMU data -->
		<rosparam name="imu0_config">[false, false, false, 	<!-- Which state variables to from IMU to fuse -->
					   false, false, false,
					   false, false, false,
					   false, false, false,
					   true, true, true]</rosparam>
	</node>
</launch>
